@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans Thai", sans-serif;
    a {
        all: unset;
        font-family: "IBM Plex Sans Thai", sans-serif;
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
        width: 100%;
        max-width: 1200px;
        margin-top: 80px;
        img {
            width: 100%;
        }
        &.home {
            h2 {
                width: 100%;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                color: #7a491a;
            }
            h3 {
                width: 100%;
                text-align: center;
                font-size: 24px;
                font-weight: bold;
                color: #7a491a;
            }
        }   
    }
}