@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pridi", sans-serif;
    a {
        all: unset;
        font-family: "Pridi", sans-serif;
    }
}