@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans Thai", sans-serif;
    a {
        all: unset;
        font-family: "IBM Plex Sans Thai", sans-serif;
    }
    p {
        font-family: "IBM Plex Sans Thai", sans-serif !important;
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
        width: 100%;
        max-width: 1200px;
        margin-top: 100px;
        img {
            width: 100%;
        }
        button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 4px 16px;
            color: #7a491a !important;
            font-size: 18px;
            width: fit-content;
            background-color: #fff;
            border: none;
            border: 1px solid #bbb;
            box-shadow: 5px 5px 10px 1px #e5e5e5;
            border-radius: 5px;
            &:hover {
                background-color: #7a491a;
                color: #fff !important;
                svg {
                    fill: #fff !important;
                }
                scale: 1.05;
                transition: 0.3s;
            }
        }
        &.home {
            h3 {
                width: 100%;
                text-align: center;
                font-size: 24px;
                font-weight: 500;
                color: #7a491a;
                margin-bottom: 16px;
            }
            h2 {
                width: 100%;
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                color: #7a491a;
            }
            p {
                font-size: 16px;

            }
        }   
    }
}


.popup {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        position: fixed;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: 999999;
        img {
            height: 90dvh;
            box-shadow: 0 0 100vw 100vw #0004;
        }
        .close {
            width: 24px;
            height: 24px;
            margin-right: -24px;
            fill: #000;
            cursor: pointer;
        }
        &.hidden {
            display: none;
        }
    }